{# Sign-in form. Posted to /login. #}
{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="span4 offset4">
  {{ super() }}
  <form action="{{ url_for('login') }}" method="POST" class="form-signin">
    <h1>LXC-Web</h1>
    <p class="muted">Sign in to manage LXC containers</p>
    <div class="control-group">
      <label class="control-label" for="inputUsername">Username</label>
      <div class="controls">
        <input id="inputUsername" type="text" placeholder="Username" name="username" autofocus required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input id="inputPassword" type="password" placeholder="Password" name="password" required>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input id="inputURL" type="hidden" name="url" value="{{ request.path }}">
        <input type="submit" class="btn btn-success btn-block" value="Log in"/>
      </div>
    </div>
  </form>
</div>
{% endblock %}
